<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="components/header :: header"></div>
</head>

<body>
<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">預售屋合理房價試算</h2>
                <form method="POST" action="estimate">
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="土地價格(80000/坪)" name="landPrice">
                    </div>
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="容積率360%(3.6)" name="volumeRate">
                    </div>
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="售坪比(1.55)" name="sellRate">
                    </div>
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="建造成本(150000/坪)" name="constructionCost">
                    </div>
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="管銷費用(1.15)" name="manageCost">
                    </div>
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="合理利潤(1.3)" name="profit">
                    </div>
                    <div class="p-t-20">
                        <button class="btn btn-success" type="submit">試算</button>
                    </div>
                </form>
                <div class="p-b-100">
                    <a href="http://cpabm.cpami.gov.tw/cers/SearchLicForm.do" target="_blank">
                        建築工程履歷查詢系統
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main JS-->
<script src="js/global.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
